@import "tailwindcss";

:root {
  --background: #f8f9ff;
  --foreground: #2d3142;
  --lavender: #a57cff;
  --lavender-light: #ede8ff;
}

/* noto-sans-kr 폰트 변수 연결 */
/* nanum-myeongjo 폰트 변수 연결 */

body {
  background: var(--background);
  color: var(--foreground);
}
